/* Estilos para las sugerencias */
.suggestionList {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
    width: 100%;
    max-height: 200px; /* Ajusta según sea necesario */
    overflow-y: auto;
  }
  
  .suggestionItem {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .suggestionItem:hover {
    background-color: #e9e9e9;
  }
  
  .suggestionItem.active {
    background-color: #007bff;
    color: white;
  }
/* BookingForm.module.css */
.bookingFormContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .inputField {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

  /* Estilos generales para el input de día */
.dayInput {
    width: 100%;
    height: 56px;
    border-radius: 4px;
    position: relative;
    padding: 0px 16px;
    border: none;
    border-radius: 4px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    color: #282828;
    outline: none;
    box-shadow: 0px 4px 20px 0px transparent;
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
    
  }
  
  /* Estilos para el placeholder del input de día */
  .dayInput::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .dayInput::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .dayInput:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .dayInput:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  .titulo{
    text-align: center;
    color: gray;
  }